*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
    background-color: #FFFFFF;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

h2 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1111;
    letter-spacing: 0.02em;
    text-align: left;
}

/* ============== HEADER STYLES ============== */
.cont-nav {
    display: flex;
    justify-content: space-between;
}

.page-header {
    display: flex;
    justify-content: space-between;
}

.header-navigation {
    display: flex;
}

.menu {
    display: flex;
    column-gap: 40px;
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}

.menu:hover,
.menu:focus {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
    color: #404bbf;
}

.logo {
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-right: 76px;
    font-family: Raleway,sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    color: #4d5ae5;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: left;
}

.logo-std {
    color: #2e2f42;
}

.std {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2e2f42;
}

.std:hover,
.std:focus {
    color: #404bbf;
}

.adrs {
    display: flex;
    column-gap: 40px;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.adrs:hover,
.adrs:focus {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: left;
}

.contact {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
}

.contact:hover,
.contact:focus {
    color: #404BBF;
}
/* ============== /MAIN STYLES ============== */
.ef-solution {
    background-color: #2E2F42;
    height: 600px;
}

.main-heading {
    display: block;
    width: 496px;
    height: 120px;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.bttn {
    max-width: 220px;
    margin: auto;
    cursor: pointer;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #FFFFFF;
    background: #4D5AE5;
}

.bttn:hover,
.bttn:focus {
    background: #404BBF;
}


/* ============== /FIRST SECTION-OUR BENEFITS ============== */

.bnfts-list {
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
    margin-bottom: 120px;
}

.bnf-item {
    margin-right: 24px;
}

.bnfts {
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: left;
    color: #2e2f42;
}

.bnfts-chpt {
    display: flex;
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455
}
/* ============== /THIRTH SECTION-OUR TEAM ============== */
.team-page {
    background-color: #F4F4FD;
}

.list-item {
    background-color: #FFFFFF;
}

.sub-heading {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/* ============== /FOURTH SECTION-PORTFOLIO ============== */
.prtf {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}
/* ============== /FOOTER ============== */
.ftr {
    color: #F4F4FD;
    background-color: #2E2F42;
}

.logo-sec {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-std-second {
    color: #F4F4FD;
}

.ftr-chpt {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}